




.mdui-menu img {
    border-radius: 8px;
}

.mdui-drawer img {
    border-radius: 0 0 8px 8px;
}

.mdui-tooltip {
    border-radius: 20px;
    background-color: rgba(32, 32, 32, 0.9);
    transition-property: opacity, transform, -webkit-transform, background-color, color;
    transition-duration: 0.15s, 0.15s, 0.15s, 0.4s, 0.4s;
}

@keyframes card {
    from {
        transform: scale(0.9);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

.mdui-card {
    border-radius: 12px;
    animation-name: card;
    animation-duration: 0.7s;
}





